[Bb]in/
[Oo]bj/

*.nupkg
packages/

.vscode/
.vs/

*.user
*.userosscache
*.suo

_ReSharper*/
*.[Rr]e[Ss]harper

[Tt]est[Rr]esult*/

*.dotsettings
*.swp
*.*swp
*.swn
*.swo

.DS_Store
Thumbs.db

*.mdf
*.ldf

*.log
[Ll]og/

Generated_Code/

*_Backup.*

*.pdb
*.exe
*.dll

*.pubxml
*.publishproj

*.mdf
*.ldf
*.ndf

*.png
*.PNG
*.jpg
*.JPG
*.jpeg
*.JPEG
